* {
	margin: 0;
}

body {
	background:url(../img/background.jpg) no-repeat center center fixed #B6B6B4;
	background-size: cover;
	white-space: nowrap;
	text-align: center;
}

#bodyone {
	background:url(../img/background.jpg) no-repeat center center fixed #B6B6B4;
	background-size: cover;
	white-space: nowrap;
	text-align: center;
}

#bodytwo {
	background:url(../img/background.jpg) no-repeat center center fixed #B6B6B4;
	background-size: cover;
	white-space: nowrap;
	text-align: center;
}

#bodythree {
	background:url(../img/background.jpg) no-repeat center center fixed #B6B6B4;
	background-size: cover;
	white-space: nowrap;
	text-align: center;
}

.container {
	margin: 20px auto;
	text-align: center;
	width: 1000px;
}

img{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 70px;
    background-size: auto;
}

a {
	text-decoration: none;
	font-family:monospace;
}

header {
	font-size: 0px;
}


header h1 {
	text-align: left;
}

header p {
	text-align: left;
	color: white;
}

header h1 a {
	font-size: 70px;
	color: white;
}

header p {
	font-family: Calibri;
	font-size: 25px;
}

#index{
    background-color: antiquewhite;
}

nav {
	text-align: left;
	background-color: cadetblue;
    border-radius: 20px;
	padding: 20px;
	clear: both;
    margin-top: 20px;
}

#navone {
	text-align: left;
	background-color: darkgoldenrod;
	padding: 20px;
	clear: both;
    margin-top: 20px;
}

#navtwo {
	text-align: left;
	background-color: #00264d;
	padding: 20px;
	clear: both;
    margin-top: 20px;
}

#navthree {
	text-align: left;
	background-color: forestgreen;
	padding: 20px;
	clear: both;
    margin-top: 20px;
}

nav a {
	color: black;
	font-size: 30px;
	padding: 20px;
    margin-left: 50px;
}

nav a:hover {
	color: dodgerblue;
	background-color: #191919;
}

#navone a:hover {
	color: yellow;
	background-color: #191919;
}

#navtwo a:hover {
	color: #004080;
	background-color: #191919;
}

#navthree a:hover {
	color: lawngreen;
	background-color: #191919;
}

main {
	width: 1000px;
	white-space: initial;
}

article {
	position: relative;
	float: left;
    width: 1000px;
    margin-bottom: 30px;
}

#index article h2 {
	color: #e7e5cb;
	width: 980px;
	padding: 10px;
	background-color: #0f0f0a;
	font-family: Tahoma;
	text-align: left;
}

#index article p {
	margin-top: 0px;
	color: black;
	font-size: 25px;
	font-family: sans-serif;
	margin-left: 0px;
	width: 1000px;
    background-color: wheat;
    padding-bottom: 20px;
    padding-top: 20px;
}

#index article li {
	margin-top: 0px;
	color: white;
	font-size: 20px;
	font-family: Calibri;
	margin-left: 0px;
	width: 1000px;
    background-color: wheat;
}


#index img{
    width: 200px;
    height: 200px;
}

.members{
	margin-top: 30px;
    font-size: 40px;
    background-color: beige;
    margin-bottom: 50px;
    font-family: fantasy;
    color:darkslategrey;
    white-space: pre-line;
    

}

.members a{
	margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
}

#prelims article h2 {
	color: #e7e5cb;
	width: 980px;
	padding: 10px;
	background-color: #0f0f0a;
	font-family: Tahoma;
	text-align: center;
    font-size: 30px;
}

#prelims article ul {
	margin-top: 0px;
	color: brown;
	font-size: 30px;
	font-family: Calibri;
    text-align: center;
    background-color: lavender;
}

#prelims article li {
    padding-top: 20px;
    color: saddlebrown;
    text-align: left;
    font-size: 25px;
}
#prelims article p {
    padding-top: 10px;
    color: brown;
    text-align: left;
    font-size: 25px;
}

#midterms article h2 {
	color: #e7e5cb;
	width: 980px;
	padding: 10px;
	background-color: #0f0f0a;
	font-family: Tahoma;
	text-align: left;
}

#midterms article p {
	margin-top: 0px;
	color: indianred;
	font-size: 30px;
	font-family: Calibri;
	margin-left: 0px;
	width: 1000px;
    background-color: lightgoldenrodyellow;
}

#finals article h2 {
	color: #e7e5cb;
	width: 980px;
	padding: 10px;
	background-color: #0f0f0a;
	font-family: Tahoma;
	text-align: left;
}

#finals article p {
	margin-top: 0px;
	color: palegreen;
	font-size: 30px;
	font-family: Calibri;
	margin-left: 0px;
	width: 1000px;
    background-color: oldlace;
}

footer {
	margin-top: 35px;
	margin-bottom: 20px;
	margin-left: 10px;
	position: relative;
	float: left;
}

small{
    font-size: 20px;
    margin-left: 400px;
    font-family: arial black;
}

.icons li {
	line-height: 10px;
}
.icons a {
	color: #000;
	text-decoration: none;
}
.icons a:hover {
	color: #ab0000
}
.icons img {
	float: left;
	margin-right: 14px;
	margin-top: 7px
}