* {
	margin: 0;
}

body {
	background:url(../img/background.jpg) no-repeat center center fixed #B6B6B4;
	background-size: cover;
	white-space: nowrap;
 	width: 80%;
	padding-top: 2%;
	margin: auto;
}

.container {
   	text-align: center;
	width: 100%;
	background-color: white;
	border-radius: 30px 30px 0px 0px;

}

#sub{
	color:green;
}
.highlight{
	color:green;
}
.expand{
	padding: 45px;
}
img{
	float: left;
    	margin-top: 20px;
    	margin-left: 20px;
    	padding-right: 70px;
    	background-size: auto;
}

a {
	text-decoration: none;
	font-family:monospace;
}
#htmlSection{

}
#htmlPanel{
	display: none;
}
#cssSection{

}
#cssPanel{
	display: none;
}
#banner{
	background-color: white;
	width: 100%;
	border-radius: 30px 30px 0px 0px;
}

header h1 {
	text-align: left;
}

header p {
	text-align: left;
	color: black;
	font-family: Calibri;
	font-size: 90%;
}

header h1 a {
	font-size: 70px;
	color: black;
}

.contacts{
	background: white;
	margin: 5% 0% 5% 3%;
    	float: left;
    	width: 180px;
}

.contacts a img{
	margin-left: 30px;	
}

.contacts:hover{
	border: 1px solid orange;
}

.desc p{
    	text-align: center;
}

nav {
	background-color: cadetblue;
	clear: both;
 	opacity: 0.7;
	width: 100%;
	height: auto;
}
#section1{
	background: orangered;
	width: 80%;
}
#section3{
	background: orangered;
	width: 80%;
}
#section2{
	background: orangered;
	width: 80%;
}
#section1:hover{
	background:blue;
}
#section2:hover{
	background:blue;
}
#section3:hover{
	background:blue;
}
#section1a{
	display:none;
	
}
#section2a{
	display:none;
}
#section3a{
	display:none;
}
#section4a{
	display:none;
}
#section4:hover{
	background:blue;
}
#section4{
	background: orangered;
	width: 80%;
}
#section5a{
	display:none;
}
#section5:hover{
	background:blue;
}
#section5{
	background: orangered;
	width: 80%;
}
#section6{
	color: blue;
}

#section6a{
	display: none;
}
#section7{
	color: blue;
}

#section7a{
	display: none;
}
#section8{
	color: blue;
}

#section8a{
	display: none;
}

#section9{
	color: blue;
}

#section9a{
	display: none;
}
#section10{
	color: blue;
}

#section10a{
	display: none;
}
#section11{
	color: blue;
}

#section11a{
	display: none;
}
#section12{
	color: blue;
}

#section12a{
	display: none;
}
#section13{
	color: blue;
}

#section13a{
	display: none;
}
#section14{
	color: blue;
}

#section14a{
	display: none;
}
#section15{
	color: blue;
}

#section15a{
	display: none;
}
#section16{
	color: blue;
}

#section16a{
	display: none;
}
#section17{
	color: blue;
}

#section17a{
	display: none;
}
#section18{
	color: blue;
}

#section18a{
	display: none;
}
#section19{
	color: blue;
}

#section19a{
	display: none;
}
#section20{
	color: blue;
}

#section20a{
	display: none;
}
#section21{
	color: blue;
}

#section21a{
	display: none;
}
#section22{
	color: blue;
}

#section22a{
	display: none;
}

#section23{
	color: blue;
}

#section23a{
	display: none;
}
#section24{
	color: blue;
}

#section24a{
	display: none;
}
#section25{
	color: blue;
}

#section25a{
	display: none;
}
#section26{
	color: blue;
}

#section26a{
	display: none;
}
#section27{
	color: blue;
}

#section27a{
	display: none;
}
#section28{
	color: blue;
}

#section28a{
	display: none;
}
#section29{
	color: blue;
}

#section29a{
	display: none;
}
#section30{
	color: blue;
}

#section30a{
	display: none;
}
#section31{
	color: blue;
}

#section31a{
	display: none;
}
#section32{
	color: blue;
}

#section32a{
	display: none;
}
#section33{
	color: blue;
}

#section33a{
	display: none;
}
#section34{
	color: blue;
}

#section34a{
	display: none;
}
#section35{
	color: blue;
}

#section35a{
	display: none;
}
#navone {
	background-color: darkgoldenrod;
}

#navtwo {
	background-color: #00264d;
}

#navthree {
	background-color: forestgreen;
}

#navfour{
	background-color: mediumvioletred;
}

nav a {
	color: white;
	font-size: 25px;
	margin-left: 30px;
}

nav a:hover {
	color: dodgerblue;
	background-color: #191919;
}

#navone a:hover{
	color: gold;
	background-color: #191919;
}

#navtwo a:hover {
	color: #004080;
	background-color: #191919;
}

#navthree a:hover {
	color: lawngreen;
	background-color: #191919;
}

#navfour a:hover{
	color: indianred;
	background-color: #191919;
}

main {
	white-space: initial;
}

#index article h2 {
	color: #e7e5cb;
	padding: 20px;
	background-color: #0f0f0a;
	font-family: monospace;
}

#index article p {
	color: black;
	font-size: 18px;
	font-family: sans-serif;
	padding-bottom: 20px;
	padding-top: 20px;
	margin: 100px auto 100px auto;
	width: 90%;
	text-align: justify;
	text-indent: 10px;
	font-style: italic;
}

main h2{
	background: black;
	color: white;
	font-family: monospace;
	padding: 20px;
}

#index img{
	width: 100px;
    	height: 100px;
}

article h2{
	color: #e7e5cb;
	padding: 10px;
	background-color: #0f0f0a;
	font-family: Tahoma;
	text-align: center;
    	font-size: 30px;

}

article li{
	padding-top: 20px;
    	color: saddlebrown;
    	text-align: left;
    	font-size: 25px;
}

article p{
	padding-top: 10px;
	font-size: 25px;
	font-family: Calibri;
	text-align: left;
}

#prelims article p {
    	color: brown;
    	text-align: left;
}

#midterms article p {
	color: indianred;
    	background-color: lightgoldenrodyellow;
}

#finals article p {
	color: palegreen;
    	background-color: oldlace;
}

#acronym article p {
	color: darkred;
	background-color: lightpink;
	width: 1000px;
}

footer {
	clear: both;
	background-color: white;
	width: 100%;
}

small{
    	font-size: 15px;
    	text-align: center;
    	font-family: arial black;
}